*{
  margin: 0;
  padding: 0;
}
.navbar{

  background-color: #202020;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
}
.logoImage{
  margin-left: 30px;
  height: 50px;
  width: 45px;
}
.navContent a{
  color: #fefefc;
  text-decoration: none;
  padding-right: 30px;
}
.myHome{
  background-color: #202020;
  color: white;
}
.homContainer{
  display: flex;
  align-items: center;
}
.homeCOntent h2,h4{
  margin-bottom: 20px;
  letter-spacing: 3.5px;
}
.name{
  font-weight: bold;
}
.homeImage{
  height: 100vh;
  width: 60vw;
  filter: grayscale(100%);
}
.aboutPhoto{
  height: 400px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-bottom-right-radius: 20px 20px;
}
.aboutImage{
  background-color: #202020;
  height: 400px;
  width: 350px;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 5px;
}
.aboutSection{
  margin-top: 80px;
}
.mainAbout{
  display: flex;
}
.aboutContent{
  margin-left: 70px;
  width: 50%;
}
.aboutme{
  font-weight: bold;
}
.borderline{
  border: 3px solid black;
  width: 5vw;
}
.borderlineTwo{
  border: 1px solid black;
  width: 25vw;
}
.articleOne{
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.5px;
  word-spacing: 1.1px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.articleTwo{
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.5px;
  word-spacing: 1.1px;
  margin-bottom: 20px;
}
.socialIcons i{
  margin-right: 20px;
}
.workHeadingTwo{
display: flex;
padding: 10px;
transition: all 0.5s ease-out;
}
.skillCorner{
  margin-top: 40px;
}
.skillImage{
  padding: 5px;
  transition: all 0.5s ease-out;
}
.skillImage:hover, .skillImage:focus{
  background-color: #ededed;
  border-radius: 3px;
}
.workHeadingTwo:hover, .workHeadingTwo:focus{
  background-color: #ededed;
  border-radius: 3px;
}

.homeImages{
  height: 40px;
  width: 40px;
}
.workContent{
  margin-left: 20px;
}
.workActivites{
  margin-top: 50px;
}
.hrLine{
  border-right: 2px solid #d1d5db;
  height: 23vh;
  margin-top: 20px;
}
.skillDevelopment{
  margin-top: 40px;
}
.followMe i{
  margin-right: 30px;
}
.mainGet{
  display: flex;
  margin-top: 40px;
}
.nameAndEmail {
  width: 50%;
  display: flex;
}